---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <h1>Seems like you arrived at a page that doesn't exist :|</h1>
    <p>How about you return to the any of these links?</p>
    <ul>
      <li><a href="/">Go back to the beginning</a></li>
      <li><a href="/journeys">List of Journeys</a></li>
      <li><a href="/stations">List of Stations</a></li>
    </ul>
  </body>
</html>

<style>
  h1 {
    text-align: center;
  }

  :global(body) {
    background-color: rgb(32, 32, 32);
    color: red;
  }
</style>
