---
import Journeys from "../components/Journeys.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<h1>Welcome to the bicycle journey infromation application</h1>
		<p text-align="center">What would you wish to inspect?</p>
		<ul>
			<li><a href="/journeys">List of Journeys</a></li>
			<li><a href="/stations">List of Stations</a></li>
		</ul>
	</body>
</html>


<style>
	h1 {
    text-align: center;
}
</style>
